@import '../../scss/base/base';
@import '../../blocks/base/slider/slider';

html {
  font-family: 'Spartan', sans-serif;
  font-size: 12px;
  font-weight: 500;
}

body {
  color: $clr-black;
}

.heading {
  &__slide {
    font-size: 3em;
    font-weight: 700;
    margin-top: 0;
  }
}

.description-section {
  display: flex;

  &__info {
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    padding: 4em;
    max-width: 30%;
  }

  &__image {
    display: flex;
    width: 35%;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}
