@import '../../scss/base/base';
@import '../../blocks/base/slider/slider';

html {
  font-family: 'Spartan', sans-serif;
  font-size: 12px;
  font-weight: 500;
}

body {
  color: $clr-black;
}

.heading {
  &__slide {
    font-size: 3em;
    font-weight: 700;
    margin-top: 0;
  }
}
